# Server Configuration
PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Elasticsearch Configuration
ELASTICSEARCH_NODE=http://localhost:9200
ELASTICSEARCH_EMAIL_INDEX=reachinbox-emails
ELASTICSEARCH_KNOWLEDGE_INDEX=reachinbox-knowledge

# AI / LLM & Embedding Configuration (Options: 'gemini' | 'openai')
LLM_PROVIDER=gemini
LLM_MODEL=gemini-3.6-flash
EMBEDDING_MODEL=gemini-embedding-001
BOOKING_URL=https://cal.com/example
GEMINI_API_KEY=your_gemini_api_key_here
OPENAI_API_KEY=your_openai_api_key_here

# Notification Channels
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK
EXTERNAL_WEBHOOK_URL=https://webhook.site/your-unique-uuid

# IMAP Account 1 Configuration Placeholder
IMAP_ACC1_ID=account_1
IMAP_ACC1_USER=user1@example.com
IMAP_ACC1_PASS=app_password_1
IMAP_ACC1_HOST=imap.gmail.com
IMAP_ACC1_PORT=993
IMAP_ACC1_SECURE=true

# IMAP Account 2 Configuration Placeholder
IMAP_ACC2_ID=account_2
IMAP_ACC2_USER=user2@example.com
IMAP_ACC2_PASS=app_password_2
IMAP_ACC2_HOST=imap.gmail.com
IMAP_ACC2_PORT=993
IMAP_ACC2_SECURE=true
